$primaryColor: rgb(229,229,229);
$secondaryColor: rgb(34,73,87);
$tertiaryColor: rgb(32,223,127);
$white: white;
$black: black;

@mixin flexcenter ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexcustom ($jc, $ai, $direction){ 
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $direction;
    
}

@mixin box-shadow (){
    
}